* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #0b0b0f;
	color: #fff;
	line-height: 1.6;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	padding: 16px;
	background: #111;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 1.2rem;
	font-weight: bold;
	color: #ff2f92;
}

nav a {
	margin-left: 15px;
	font-size: 0.9rem;
	opacity: 0.8;
}

.hero {
	padding: 30px 16px;
	text-align: center;
}

.hero h1 {
	font-size: 1.8rem;
}

.hero span {
	color: #ff2f92;
}

.filters {
	display: flex;
	gap: 10px;
	padding: 16px;
	overflow-x: auto;
}

.filter-btn {
	padding: 8px 14px;
	background: #1a1a1f;
	border-radius: 20px;
	font-size: 0.8rem;
	white-space: nowrap;
}

.events {
	padding: 16px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 15px;

}

.event-card {
	background: #14141a;
	border-radius: 12px;
	overflow: hidden;
}

.event-card img {
	width: 100%;
	height: 140px;
	object-fit: cover;
}

.event-card .info {
	padding: 10px;
}

.tag {
	font-size: 0.7rem;
	color: #ff2f92;
}

.event-card h3 {
	font-size: 0.95rem;
	margin: 5px 0;
}

.event-card p {
	font-size: 0.75rem;
	opacity: 0.7;
}



.btn {
  display: inline-block;
  background-color: #ff2f92;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e02a80;
}